In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.0'
spark_version = 'spark-3.5.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
from pyspark import SparkFiles
url = "https://ale-work-123.s3.us-west-1.amazonaws.com/heart_statlog_cleveland_hungary_final_clean.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("heart_statlog_cleveland_hungary_final_clean.csv"), sep=",", header=True)

df.show()

+---+---+---------------+------------+-----------+-------------------+-----------+--------------+---------------+-------+--------+------+
|age|sex|chest_pain_type|resting_bp_s|cholesterol|fasting_blood_sugar|resting_ecg|max_heart_rate|exercise_angina|oldpeak|ST_slope|target|
+---+---+---------------+------------+-----------+-------------------+-----------+--------------+---------------+-------+--------+------+
| 40|  1|              2|         140|        289|                  0|          0|           172|              0|    0.0|       1|     0|
| 49|  0|              3|         160|        180|                  0|          0|           156|              0|    1.0|       2|     1|
| 37|  1|              2|         130|        283|                  0|          1|            98|              0|    0.0|       1|     0|
| 48|  0|              4|         138|        214|                  0|          0|           108|              1|    1.5|       2|     1|
| 54|  1|              3|         150|        195|                  0|          0|           122|              0|    0.0|       1|     0|
| 39|  1|              3|         120|        339|                  0|          0|           170|              0|    0.0|       1|     0|
| 45|  0|              2|         130|        237|                  0|          0|           170|              0|    0.0|       1|     0|
| 54|  1|              2|         110|        208|                  0|          0|           142|              0|    0.0|       1|     0|
| 37|  1|              4|         140|        207|                  0|          0|           130|              1|    1.5|       2|     1|
| 48|  0|              2|         120|        284|                  0|          0|           120|              0|    0.0|       1|     0|
| 37|  0|              3|         130|        211|                  0|          0|           142|              0|    0.0|       1|     0|
| 58|  1|              2|         136|        164|                  0|          1|            99|              1|    2.0|       2|     1|
| 39|  1|              2|         120|        204|                  0|          0|           145|              0|    0.0|       1|     0|
| 49|  1|              4|         140|        234|                  0|          0|           140|              1|    1.0|       2|     1|
| 42|  0|              3|         115|        211|                  0|          1|           137|              0|    0.0|       1|     0|
| 54|  0|              2|         120|        273|                  0|          0|           150|              0|    1.5|       2|     0|
| 38|  1|              4|         110|        196|                  0|          0|           166|              0|    0.0|       2|     1|
| 43|  0|              2|         120|        201|                  0|          0|           165|              0|    0.0|       1|     0|
| 60|  1|              4|         100|        248|                  0|          0|           125|              0|    1.0|       2|     1|
| 36|  1|              2|         120|        267|                  0|          0|           160|              0|    3.0|       2|     1|
+---+---+---------------+------------+-----------+-------------------+-----------+--------------+---------------+-------+--------+------+
only showing top 20 rows

In [4]:
df.createOrReplaceTempView('heart_disease')

In [5]:
def run_sql_query(query):
    spark.sql(query).show()

In [6]:
## Type of chest pain compared to their cholesterol levels and if they have heart disease or not
run_sql_query("""
    select chest_pain_type as chest_pain_type, cholesterol as cholesterol, target as heart_disease
    from heart_disease
    where cholesterol != 0
    order by chest_pain_type
""")

+---------------+-----------+-------------+
|chest_pain_type|cholesterol|heart_disease|
+---------------+-----------+-------------+
|              1|        291|            1|
|              1|        273|            1|
|              1|        160|            0|
|              1|        270|            1|
|              1|        252|            0|
|              1|        223|            0|
|              1|        258|            1|
|              1|        272|            1|
|              1|        200|            1|
|              1|        308|            0|
|              1|        181|            0|
|              1|        237|            0|
|              1|        216|            1|
|              1|        171|            0|
|              1|        139|            0|
|              1|        156|            1|
|              1|        234|            1|
|              1|        249|            0|
|              1|        211|            0|
|              1|        199|            0|
+---------------+-----------+-------------+
only showing top 20 rows

In [7]:
run_sql_query("""
    select chest_pain_type as chest_pain_type, resting_ecg as resting_ecg, target as heart_disease
    from heart_disease
    order by heart_disease
""")

+---------------+-----------+-------------+
|chest_pain_type|resting_ecg|heart_disease|
+---------------+-----------+-------------+
|              2|          0|            0|
|              3|          0|            0|
|              2|          0|            0|
|              4|          1|            0|
|              2|          0|            0|
|              3|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              3|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              2|          0|            0|
|              1|          0|            0|
|              2|          1|            0|
|              2|          1|            0|
|              2|          1|            0|
|              3|          0|            0|
+---------------+-----------+-------------+
only showing top 20 rows

In [8]:
run_sql_query("""
    select age as age, round(avg(resting_bp_s), 2) as avg_resting_bp_s, round(avg(cholesterol), 2) as cholesterol
    from heart_disease
    group by age
    order by age
""")

+---+----------------+-----------+
|age|avg_resting_bp_s|cholesterol|
+---+----------------+-----------+
| 28|           130.0|      132.0|
| 29|           130.0|     236.67|
| 30|           170.0|      237.0|
| 31|           110.0|      244.5|
| 32|           110.6|      241.2|
| 33|           110.0|      272.0|
| 34|          124.14|     163.29|
| 35|          126.27|     197.45|
| 36|          123.67|     190.33|
| 37|          127.09|     233.73|
| 38|           120.0|      146.5|
| 39|          127.33|      239.2|
| 40|          128.31|     229.38|
| 41|          120.46|      216.5|
| 42|          129.17|     212.22|
| 43|          126.67|     202.33|
| 44|          125.95|     249.58|
| 45|          129.22|     229.33|
| 46|          126.38|     217.17|
| 47|          132.53|     193.42|
+---+----------------+-----------+
only showing top 20 rows

In [9]:
run_sql_query("""
    select age as age, sex as sex, round(avg(resting_bp_s), 2) as avg_resting_bp_s, round(avg(cholesterol), 2) as cholesterol
    from heart_disease
    group by age, sex
    order by age
""")

+---+---+----------------+-----------+
|age|sex|avg_resting_bp_s|cholesterol|
+---+---+----------------+-----------+
| 28|  1|           130.0|      132.0|
| 29|  1|           130.0|     236.67|
| 30|  0|           170.0|      237.0|
| 31|  1|           120.0|      270.0|
| 31|  0|           100.0|      219.0|
| 32|  0|           105.0|      198.0|
| 32|  1|           112.0|      252.0|
| 33|  1|           120.0|      298.0|
| 33|  0|           100.0|      246.0|
| 34|  0|           124.0|      185.5|
| 34|  1|           124.2|      154.4|
| 35|  0|          132.67|      170.0|
| 35|  1|          123.88|     207.75|
| 36|  1|          123.67|     190.33|
| 37|  0|           125.0|     214.75|
| 37|  1|          128.29|     244.57|
| 38|  1|          121.92|     159.15|
| 38|  0|          111.67|      91.67|
| 39|  0|           114.0|     200.33|
| 39|  1|          130.67|     248.92|
+---+---+----------------+-----------+
only showing top 20 rows

In [10]:
run_sql_query("""
    select cholesterol as cholesterol, target as heart_disease
    from heart_disease
    where cholesterol >= 200
""")

+-----------+-------------+
|cholesterol|heart_disease|
+-----------+-------------+
|        289|            0|
|        283|            0|
|        214|            1|
|        339|            0|
|        237|            0|
|        208|            0|
|        207|            1|
|        284|            0|
|        211|            0|
|        204|            0|
|        234|            1|
|        211|            0|
|        273|            0|
|        201|            0|
|        248|            1|
|        267|            1|
|        223|            0|
|        201|            0|
|        288|            1|
|        215|            0|
+-----------+-------------+
only showing top 20 rows

In [11]:
run_sql_query("""
    select sex as sex, round(avg(cholesterol), 2) as avg_cholesterol, round(avg(resting_bp_s), 2) as resting_bp_s, count(target) as with_heart_disease
    from heart_disease
    where cholesterol != 0 or resting_bp_s = 0
    group by sex
""")

+---+---------------+------------+------------------+
|sex|avg_cholesterol|resting_bp_s|with_heart_disease|
+---+---------------+------------+------------------+
|  0|         255.77|      131.98|               182|
|  1|         240.61|      133.12|               565|
+---+---------------+------------+------------------+

In [12]:
## Average Cholesterol and Average Resting blood pressure based on those with or without heart disease
run_sql_query("""
    select target as heart_disease, round(avg(cholesterol), 2) as avg_cholesterol, round(avg(resting_bp_s), 2) as resting_bp_s
    from heart_disease
    where cholesterol != 0 or resting_bp_s = 0
    group by target
""")

+-------------+---------------+------------+
|heart_disease|avg_cholesterol|resting_bp_s|
+-------------+---------------+------------+
|            0|         238.77|      130.16|
|            1|         250.36|      135.77|
+-------------+---------------+------------+

In [13]:
run_sql_query("""
    select target as heart_disease, round(avg(chest_pain_type), 2) as avg_chest_pain_type
    from heart_disease
    group by target
""")

+-------------+-------------------+
|heart_disease|avg_chest_pain_type|
+-------------+-------------------+
|            0|               2.76|
|            1|               3.65|
+-------------+-------------------+

In [14]:
# run_sql_query("""
#     select target as heart_disease, select

In [15]:
## People with or without exercise angina and their average cholesterol
run_sql_query("""
    select exercise_angina, count(exercise_angina), round(avg(cholesterol), 2) as avg_choleseterol
    from heart_disease
    where cholesterol != 0
    group by exercise_angina
""")

+---------------+----------------------+----------------+
|exercise_angina|count(exercise_angina)|avg_choleseterol|
+---------------+----------------------+----------------+
|              0|                   459|          240.58|
|              1|                   287|          251.12|
+---------------+----------------------+----------------+

In [16]:
## Count the number of individuals with heart disease based on their sex
run_sql_query("""
    select sex as sex, count(target) as heart_disease
    from heart_disease
    where target == 1
    group by sex
""")

+---+-------------+
|sex|heart_disease|
+---+-------------+
|  0|           50|
|  1|          458|
+---+-------------+

In [17]:
## Count the number of individuals without heart disease based on their sex
run_sql_query("""
    select sex as sex, count(target) as heart_disease
    from heart_disease
    where target == 0
    group by sex
""")

+---+-------------+
|sex|heart_disease|
+---+-------------+
|  0|          143|
|  1|          267|
+---+-------------+

In [18]:
## Blood Pressure and Cholesterol based on chest pain type
# run_sql_query("""

In [19]:
## Individuals marked with high cholesterol and heart disease
run_sql_query("""
    select age, round(avg(cholesterol), 2) as cholesterol, round(avg(chest_pain_type))
    from heart_disease
    where cholesterol >= 240
    group by age
    order by age ASC
""")

+---+-----------+------------------------------+
|age|cholesterol|round(avg(chest_pain_type), 0)|
+---+-----------+------------------------------+
| 29|      253.0|                           2.0|
| 31|      270.0|                           4.0|
| 32|      391.5|                           3.0|
| 33|      272.0|                           4.0|
| 35|     277.75|                           3.0|
| 36|      303.5|                           3.0|
| 37|      269.6|                           3.0|
| 38|      287.0|                           3.0|
| 39|      286.0|                           3.0|
| 40|     323.83|                           3.0|
| 41|     277.18|                           3.0|
| 42|     278.13|                           3.0|
| 43|     277.09|                           3.0|
| 44|     325.14|                           3.0|
| 45|     288.83|                           3.0|
| 46|      273.0|                           3.0|
| 47|      261.2|                           3.0|
| 48|     276.13|                           3.0|
| 49|     280.29|                           3.0|
| 50|     288.88|                           4.0|
+---+-----------+------------------------------+
only showing top 20 rows

In [20]:
run_sql_query("""
    select chest_pain_type, cholesterol, resting_bp_s, exercise_angina, target
    from heart_disease
    where chest_pain_type = 1 and cholesterol != 0 and resting_bp_s != 0
    order by target
""")

+---------------+-----------+------------+---------------+------+
|chest_pain_type|cholesterol|resting_bp_s|exercise_angina|target|
+---------------+-----------+------------+---------------+------+
|              1|        223|         100|              0|     0|
|              1|        160|         120|              0|     0|
|              1|        193|         160|              0|     0|
|              1|        308|         130|              0|     0|
|              1|        249|         110|              0|     0|
|              1|        237|         170|              0|     0|
|              1|        171|         120|              0|     0|
|              1|        252|         140|              0|     0|
|              1|        181|         139|              0|     0|
|              1|        139|         135|              0|     0|
|              1|        211|         110|              1|     0|
|              1|        199|         140|              1|     0|
|              1|        240|         150|              0|     0|
|              1|        233|         145|              0|     0|
|              1|        244|         148|              0|     0|
|              1|        270|         178|              0|     0|
|              1|        226|         150|              0|     0|
|              1|        213|         125|              1|     0|
|              1|        193|         120|              0|     0|
|              1|        234|         160|              0|     0|
+---------------+-----------+------------+---------------+------+
only showing top 20 rows

In [21]:
run_sql_query("""
    select chest_pain_type, cholesterol, resting_bp_s, exercise_angina, target
    from heart_disease
    where chest_pain_type = 2 and cholesterol != 0 and resting_bp_s != 0
    order by target
""")

+---------------+-----------+------------+---------------+------+
|chest_pain_type|cholesterol|resting_bp_s|exercise_angina|target|
+---------------+-----------+------------+---------------+------+
|              2|        264|         150|              0|     0|
|              2|        241|         190|              0|     0|
|              2|        216|         140|              0|     0|
|              2|        283|         130|              0|     0|
|              2|        224|         140|              0|     0|
|              2|        208|         110|              0|     0|
|              2|        245|         130|              0|     0|
|              2|        194|         160|              0|     0|
|              2|        214|         150|              0|     0|
|              2|        253|         100|              0|     0|
|              2|        201|         120|              0|     0|
|              2|        202|         110|              0|     0|
|              2|        201|         124|              0|     0|
|              2|        260|         120|              0|     0|
|              2|        468|         113|              0|     0|
|              2|        225|         110|              0|     0|
|              2|        186|         150|              0|     0|
|              2|        215|         130|              0|     0|
|              2|        250|         110|              0|     0|
|              2|        100|         140|              1|     0|
+---------------+-----------+------------+---------------+------+
only showing top 20 rows

In [22]:
run_sql_query("""
    select chest_pain_type, cholesterol, resting_bp_s, exercise_angina, target
    from heart_disease
    where chest_pain_type = 1 and cholesterol != 0 and resting_bp_s != 0
    order by target
""")

+---------------+-----------+------------+---------------+------+
|chest_pain_type|cholesterol|resting_bp_s|exercise_angina|target|
+---------------+-----------+------------+---------------+------+
|              1|        223|         100|              0|     0|
|              1|        160|         120|              0|     0|
|              1|        193|         160|              0|     0|
|              1|        308|         130|              0|     0|
|              1|        249|         110|              0|     0|
|              1|        237|         170|              0|     0|
|              1|        171|         120|              0|     0|
|              1|        252|         140|              0|     0|
|              1|        181|         139|              0|     0|
|              1|        139|         135|              0|     0|
|              1|        211|         110|              1|     0|
|              1|        199|         140|              1|     0|
|              1|        240|         150|              0|     0|
|              1|        233|         145|              0|     0|
|              1|        244|         148|              0|     0|
|              1|        270|         178|              0|     0|
|              1|        226|         150|              0|     0|
|              1|        213|         125|              1|     0|
|              1|        193|         120|              0|     0|
|              1|        234|         160|              0|     0|
+---------------+-----------+------------+---------------+------+
only showing top 20 rows

In [23]:
run_sql_query("""
    select chest_pain_type, cholesterol, resting_bp_s, exercise_angina, target
    from heart_disease
    where chest_pain_type = 1 and cholesterol != 0 and resting_bp_s != 0
    order by target
""")

+---------------+-----------+------------+---------------+------+
|chest_pain_type|cholesterol|resting_bp_s|exercise_angina|target|
+---------------+-----------+------------+---------------+------+
|              1|        223|         100|              0|     0|
|              1|        160|         120|              0|     0|
|              1|        193|         160|              0|     0|
|              1|        308|         130|              0|     0|
|              1|        249|         110|              0|     0|
|              1|        237|         170|              0|     0|
|              1|        171|         120|              0|     0|
|              1|        252|         140|              0|     0|
|              1|        181|         139|              0|     0|
|              1|        139|         135|              0|     0|
|              1|        211|         110|              1|     0|
|              1|        199|         140|              1|     0|
|              1|        240|         150|              0|     0|
|              1|        233|         145|              0|     0|
|              1|        244|         148|              0|     0|
|              1|        270|         178|              0|     0|
|              1|        226|         150|              0|     0|
|              1|        213|         125|              1|     0|
|              1|        193|         120|              0|     0|
|              1|        234|         160|              0|     0|
+---------------+-----------+------------+---------------+------+
only showing top 20 rows